.self-assessment-cards {
    /* border: 1px solid yellow; */
    display: flex;
    padding: 0% 3% 0% 3%;
}

.assessment-card {
    border: 1px solid #000000;
    margin: 2%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 16px;
    width: 334px;
    height: 159px;
}

.assessment-card:hover {
    transform: scale(1.1);
}

.assessment-card > .heading {
    font-family: 'Futura Hv BT';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 3%;
}

.assessment-card > .text-content{
    font-family: 'Futura Lt BT';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 5% 0%;
}

.assessment-card > .button {
    width: 300px;
    height: 44px;
    background: #333333;
    border-radius: 10px;
    padding: 0%;
    color: white;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* 
.heading {
    text-align: center;
    font-size: 25px;
    font-family: "Gilmer Bold";
    padding-bottom: 6%;
}
.report-text-content {
    text-align: center;
}
.button {
    margin: auto;
    border-radius: 17px;
    height: 7vh;
    font-size: 3vh;
    width: 60%;
    align-content: center;
    text-align: center;   
    background: black;
    color: white; 
}

.button-category {
    margin: auto;
    border-radius: 17px;
    height: 7vh;
    font-size: 3vh;
    width: 60%;
    align-content: center;
    text-align: center;   
    color: white; 
} */