.category {
    border: 1px solid white;
    background: #E5E5E5;
    height: 100vh;
    box-sizing: border-box;
}

.category-heading {
    /* border: 2px solid gray; */
    display: flex;
    justify-content: center;
    margin: auto;
    box-sizing: border-box;
    width: 272px;
    height: 52px;
    margin-top: 10%;
}

.category-container {
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.cateorgy-lists {
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
}

.cateorgy-lists-item {
    /* border: 2px solid black; */
    width: 300px;
    height: 54px;
    margin-top: 3%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    align-items: center;
    font-family: 'Futura Hv BT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.cateorgy-lists-item > li{
    list-style: none;
    padding-left: 8%;
} 

.category-heading>h1 {
    font-family: Futura Md BT;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}
.cateorgy-lists-item:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.categoryContinueArrow{
    padding-right: 12%;
}











/* 


.category-container {
    display: flex;
    background: aqua;
    justify-content: center;
    height: 70vh;
    margin: 0px 0% 3% 0%;
}

.category-heading {
    background: antiquewhite;
    font-family: fantasy;
    text-align: center;
    height: 10vh;
    padding: 3vh;
    font-size: 3vh;
}

.cateorgy-lists {
    margin: 0;
    padding: 7vh;
}


.cateorgy-lists li {
    border: 2px solid red;
    list-style: ;
    padding: 2vh;
    margin: 3vh;
    border-radius: 3vh;
    width: 40vw;
    font-size: 3vh;
    text-align: center;
    list-style: none;
}

.button {
    display: grid;
    margin-top: 50px;
}

.btn {
    border-radius: 17px;
    height: 7vh;
    font-size: 3vh;
    margin-bottom: 0vh;
    width: 18%;
    align-content: center;
    text-align: center;
    margin-left: 0vw;
    display: grid;
    margin: auto;
}

li.selected {
    background-color: blue;
    color: white;
}

@media only screen and (max-device-width: 480px) {
    .category-container {
        display: flex;
        background: aqua;
        justify-content: center;
        height: 78vh;
    }

    .category-heading {
        background: antiquewhite;
        font-family: fantasy;
        text-align: center;
        height: 10vh;
        padding: 3vh;
        font-size: 3vh;
    }

    .cateorgy-lists {
        margin: 0;
        padding: 0vh;
        display: grid;
        justify-content: center;
    }


    .cateorgy-lists li {
        border: 2px solid red;
        padding: 2vh;
        margin: 3vh;
        border-radius: 3vh;
        width: 63vw;
        font-size: 3vh;
        text-align: center;
        list-style: none;
    }

    .button {
        display: grid;
        margin-top: 50px;
    }

    .btn {
        border-radius: 17px;
        height: 7vh;
        font-size: 3vh;
        margin-bottom: 0vh;
        width: 60%;
        align-content: center;
        text-align: center;
        margin-left: 0vw;
        display: grid;
        margin: auto;
    }
} */