
.header-main{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 0% 15% 1% 15%;
  border-radius: 20px;
  width: 884px;
  height: 231px;
}
.header-image-list{
  display: flex;
  border: 2px solid;
  border-radius: 20px;
  width: 92px;
  height: 25px;
  background: #D8F1E9;
  padding-top: 2%;
  padding-left: 1%;
  margin-right: 6%;
  margin-left: -2%;
}
.header-data-list{
  display: flex;
}
.header-image{
  /* border: 2px solid black; */
  display: flex;
  justify-content: flex-start;
  padding: 2%;
}
.header-text > h1{
  font-family: Futura Hv BT;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-top: 3%;
}
.header-data-list > img {
  height: 35px;
  width: 35px;
}
.header-data-list > h6 {
  margin-top: 2%;
  margin-left: 2%;
  font-family: Futura Md BT;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.header-image-list > img {
  margin-right: 15%;
  height: 10.5px;
}
.header-image-list > h6{
  margin-left: -10%;
}

.header-text{
  /* border: 2px solid black; */
  margin-left: 7%;
  width: 58%;
}

.header-image-img{
  height : 200px
}



@media only screen and (max-device-width: 480px) {
  .header-main{
    width: 100vw;
    height: 35vh;
    margin: 0%;
    margin-top: 10%;
    margin-bottom: -10%;
    border-radius: 0;
    height: 25vh;
  }
  .header-image-list{
    width: 84px;
    height: 25px;
    padding-top: 6px;
  }
  .header-data-list{
  
  }
  .header-image{
    margin-bottom: 4%;
    padding-top: 15%;
  }
  .header-text > h1{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -5%;
  }
  .header-data-list > img{
  
  }
  .header-data-list > h6{
    font-size: 14px;
    line-height: 17px;
    padding-top: 6px;
  }
  .header-image-list > img{
  
  }
  .header-image-list > h6{
  
  }
  .header-text{
    margin-left: 2%;

  }
  .header-image-img{
    width: 92px;
    height: 140px;
      
  }
}
