
.header-main{
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  background: white;
  margin: 0% 15% 1% 15%;
  border-radius: 20px;
  width: 884px;
  height: 231px;
}
.header-image-list{
  display: flex;
  border: 2px solid;
  border-radius: 20px;
  width: 92px;
  height: 25px;
  background: #D8F1E9;
  padding-top: 2%;
  padding-left: 1%;
  margin-right: 6%;
  margin-left: -2%;
}
.header-data-list{
  display: flex;
}
.header-image{
  /* border: 2px solid black; */
  display: flex;
  justify-content: flex-start;
  padding: 2%;
}
.header-text > h1{
  font-family: Futura Hv BT;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  margin-top: 3%;
}
.header-data-list > img {
  height: 35px;
  width: 35px;
}
.header-data-list > h6 {
  margin-top: 2%;
  margin-left: 2%;
  font-family: Futura Md BT;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.header-image-list > img {
  margin-right: 15%;
  height: 10.5px;
}
.header-image-list > h6{
  margin-left: -10%;
}

.header-text{
  /* border: 2px solid black; */
  margin-left: 7%;
  width: 58%;
}

.header-image-img{
  height : 200px
}

/* .header-heading{
  border: 2px solid black;
}

.header-data{
  border: 2px solid black;
}
.header-image{
  border: 2px solid black;
} */








/* .header-block {
  border: 4px solid green;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: flex-start;
  margin-top: 5%;
}

.assessment-header {
  border: 1px solid;
  font-size: 2em;
  font-family: "Gilmer Bold";
  margin: 0px 29px;
}

.header-text {
  font-size: 20px;
  line-height: 253%;
  color: black;
  font-weight: bolder;
}

@media only screen and (max-device-width: 480px) {
  .header-block {
    width: 100%;
    margin-top: 60%;
    margin-left: 5%;
  }
  .assessment-header {
    margin-top: -25%;
    font-size: 1.9em;
    margin-left: 0%;
  }
}
 */
