.self-assessment {
    /* border: 2px solid red; */
    margin: 3% 15% 1% 15%;
}


@media only screen and (max-device-width: 480px) {
    .self-assessment {
        margin: 0%;
        margin-bottom: -15%;
    }
}